openapi: 3.0.3
info:
  title: Résa API
  description: |
    REST API for the **Résa** SaaS booking management system.

    Résa enables tourist accommodation managers (campsites, bed & breakfasts, hotels, holiday cottages)
    to offer a direct booking system, embeddable as a widget on any existing showcase website.

    ## Authentication
    All routes are protected by a JWT token passed in the `Authorization: Bearer <token>` header,
    except routes explicitly marked `security: []`.

    ## Access control
    Two access levels coexist:
    - **Manager**: access limited to their own resources. Any attempt to access another manager's resources returns `403`.
    - **Admin** (Résa team): full access to all resources via `/managers` and `/events` routes.

    ## Soft delete
    `Manager`, `Property` and `Client` entities are never physically deleted.
    A `deleted_at` timestamp is set on deletion. Permanent purge is scheduled according to the retention policy.
  version: 1.0.0

servers:
  - url: https://api.resa.com/api/v1

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    # --- Auth ---
    LoginRequest:
      description: |
        Manager login credentials.

        If the account has 2FA enabled (non-null `two_fa_secret`), the response does not return
        a JWT token directly but a temporary `two_fa_token` to be used on `POST /auth/2fa/verify`.
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    TwoFARequest:
      description: |
        Six-digit TOTP code generated by the manager's authenticator app (Google Authenticator, Authy, etc.).

        The code is valid within a 30-second sliding window. Three consecutive incorrect attempts
        temporarily lock the account.
      type: object
      required: [code]
      properties:
        code: { type: string, minLength: 6, maxLength: 6 }

    TokenResponse:
      description: |
        JWT token returned after successful authentication.

        The token embeds the manager's identifier and roles. Its validity duration is indicated
        by `expires_in` (in seconds). After expiry, any request using this token returns `401`
        and the manager must log in again.
      type: object
      properties:
        access_token: { type: string }
        expires_in: { type: integer }

    # --- Role ---
    Role:
      description: |
        Role assignable to a manager, defining their access level in the system.

        Two roles are seeded on initialization:
        - `owner`: standard manager, access limited to their own resources.
        - `admin`: Résa team member, full access to all resources and administration functions.

        The `Role` table is designed to evolve without schema migration: new roles (`manager`, `viewer`)
        can be added later to refine permissions within a single manager account.
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        created_at: { type: string, format: date-time }

    ManagerRole:
      description: |
        Join table between a manager and a role.

        A manager can hold multiple roles simultaneously. `assigned_at` tracks the assignment date,
        useful for audit and support purposes.

        Role assignment and removal are admin-only operations.
      type: object
      properties:
        id: { type: string, format: uuid }
        manager_id: { type: string, format: uuid }
        role_id: { type: string, format: uuid }
        role: { $ref: '#/components/schemas/Role' }
        assigned_at: { type: string, format: date-time }

    # --- Manager ---
    Manager:
      description: |
        Account of a property manager on the Résa platform.

        A manager is the primary business entity: they own properties, receive bookings and configure
        their integration widget. Each manager corresponds to a management company
        (campsite, hotel, cottage, etc.).

        **Authentication**: managers log in with email and password. If `two_fa_secret` is non-null,
        2FA is active and a TOTP code is required on each login.

        **Stripe**: `stripe_account_id` is populated during Stripe Connect onboarding. Without this
        value, the manager cannot collect payments through the widget.

        **Soft delete**: a non-null `deleted_at` indicates a deleted account. The account no longer
        appears in lists and cannot log in, but its bookings and properties are retained for
        historical purposes.
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        stripe_account_id: { type: string }
        two_fa_enabled: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: string, format: date-time, nullable: true }

    ManagerUpdate:
      description: |
        Fields editable by the manager on their own profile via `PATCH /me`.

        Email changes trigger a uniqueness check. Passwords are hashed before storage
        and are never returned in API responses.
      type: object
      properties:
        name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        password: { type: string }

    ManagerCreate:
      description: |
        Data required to create a manager account by an admin.

        Account creation via the API is an admin operation. Self-service onboarding
        (public registration form) is not covered by this version of the API.
      type: object
      required: [name, email, password]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        password: { type: string }
        phone: { type: string }

    ManagerAdminUpdate:
      description: |
        Extended manager update schema, reserved for admins.

        Unlike `ManagerUpdate`, this schema allows modifying `stripe_account_id`,
        which is necessary when a manager reports a Stripe connection issue to support.
      type: object
      properties:
        name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        password: { type: string }
        stripe_account_id: { type: string }

    RoleCreate:
      description: Data required to create a new role. Admin-only operation.
      type: object
      required: [name]
      properties:
        name: { type: string }
        description: { type: string }

    RoleUpdate:
      description: Update the label or description of an existing role. Admin-only operation.
      type: object
      properties:
        name: { type: string }
        description: { type: string }

    # --- Property ---
    Property:
      description: |
        Property managed by a manager on the Résa platform.

        A property is the central unit of the system: rates, availability, bookings
        and the integration widget all revolve around it.

        **Activation**: `active: false` disables the property without deleting it. An inactive
        property can no longer be booked through the widget but remains visible in the back-office.

        **Soft delete**: a non-null `deleted_at` indicates a deleted property. Existing bookings
        are retained. After permanent purge, `property_id` in associated bookings is set to `null`.
      type: object
      properties:
        id: { type: string, format: uuid }
        manager_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        address: { type: string }
        city: { type: string }
        zip_code: { type: string }
        country: { type: string }
        max_capacity: { type: integer }
        nb_bedrooms: { type: integer }
        nb_bathrooms: { type: integer }
        active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: string, format: date-time, nullable: true }

    PropertyCreate:
      description: |
        Minimum data required to create a property. `name`, `address`, `city`, `zip_code`,
        `country` and `max_capacity` are required. `nb_bedrooms` and `nb_bathrooms` are optional
        but recommended for the widget display.
      type: object
      required: [name, address, city, zip_code, country, max_capacity]
      properties:
        name: { type: string }
        description: { type: string }
        address: { type: string }
        city: { type: string }
        zip_code: { type: string }
        country: { type: string }
        max_capacity: { type: integer }
        nb_bedrooms: { type: integer }
        nb_bathrooms: { type: integer }

    PropertyUpdate:
      description: Partial update of a property. Only provided fields are modified.
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        address: { type: string }
        city: { type: string }
        zip_code: { type: string }
        country: { type: string }
        max_capacity: { type: integer }
        nb_bedrooms: { type: integer }
        nb_bathrooms: { type: integer }
        active: { type: boolean }

    # --- Photo ---
    PropertyPhoto:
      description: |
        Photo associated with a property, stored in OVHcloud Object Storage.

        Photos are displayed in the booking widget. Display order is controlled by the `order` field
        (ascending integer). The first photo (lowest order) is used as the property's main image.

        `storage_url` is a public read-only URL served via the CDN. Write access to Object Storage
        is exclusively handled by the Property Service.
      type: object
      properties:
        id: { type: string, format: uuid }
        property_id: { type: string, format: uuid }
        storage_url: { type: string, format: uri }
        order: { type: integer }
        created_at: { type: string, format: date-time }

    PhotoUploadResponse:
      description: Response returned after a photo upload. Contains the final CDN URL and gallery position.
      type: object
      properties:
        id: { type: string, format: uuid }
        storage_url: { type: string, format: uri }
        order: { type: integer }

    PhotoReorder:
      description: |
        Ordered list of photo identifiers used to redefine their display order.

        All photo identifiers for the property must be present in the list.
        A missing or unknown identifier returns `422`.
      type: object
      required: [order]
      properties:
        order:
          type: array
          items: { type: string, format: uuid }

    # --- Rate ---
    Rate:
      description: |
        Rate applicable to a property over a defined date range.

        A property can have multiple rates over distinct date ranges. The system automatically
        selects the applicable rate when calculating an estimate or processing a booking,
        prioritising high-season rates (`is_high_season: true`) over base rates.

        **Degressive discounts**: each rate can include discount rules based on stay duration,
        accessible via `discount_rules`. These rules are applied automatically during estimation.

        If multiple rates overlap on the same period, the high-season rate takes priority.
        Two non-high-season rates must not overlap.
      type: object
      properties:
        id: { type: string, format: uuid }
        property_id: { type: string, format: uuid }
        name: { type: string }
        base_price_per_night: { type: number, format: decimal }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        is_high_season: { type: boolean }
        discount_rules:
          type: array
          items: { $ref: '#/components/schemas/DiscountRule' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    RateCreate:
      description: |
        Data required to create a rate. `start_date` must be earlier than `end_date`.
        `is_high_season` is optional and defaults to `false`.
      type: object
      required: [name, base_price_per_night, start_date, end_date]
      properties:
        name: { type: string }
        base_price_per_night: { type: number, format: decimal }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        is_high_season: { type: boolean, default: false }

    RateUpdate:
      description: Partial update of a rate. Only provided fields are modified.
      type: object
      properties:
        name: { type: string }
        base_price_per_night: { type: number, format: decimal }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        is_high_season: { type: boolean }

    # --- Discount Rule ---
    DiscountRule:
      description: |
        Degressive discount rule attached to a rate.

        Defines an automatic percentage discount based on stay duration.
        Example: -10% for 7 nights or more, -20% for 14 nights or more.

        `min_nights` is required. `max_nights` is optional: if absent, the rule applies
        to any duration greater than or equal to `min_nights`.

        During estimation, the system selects the rule whose range covers the calculated number
        of nights. If two rules overlap, the most favourable rule for the client is applied.
      type: object
      properties:
        id: { type: string, format: uuid }
        rate_id: { type: string, format: uuid }
        min_nights: { type: integer }
        max_nights: { type: integer }
        discount_percentage: { type: number, format: decimal }

    DiscountRuleCreate:
      description: |
        Data required to create a degressive discount rule on a rate.
        `min_nights` and `discount_percentage` are required.
      type: object
      required: [min_nights, discount_percentage]
      properties:
        min_nights: { type: integer }
        max_nights: { type: integer }
        discount_percentage: { type: number, format: decimal }

    # --- Blocked Period ---
    BlockedPeriod:
      description: |
        Date range blocked on a property, making those dates unavailable for booking through the widget.

        The availability system works by exception: all dates are considered available by default,
        unless a `BlockedPeriod` covers them.

        **Possible sources**:
        - `manual`: block created manually by the manager (maintenance, personal use, etc.)
        - `ical_airbnb` / `ical_booking`: block imported from an external iCal feed
        - `booking_confirmed`: block created automatically when a booking is confirmed

        `booking_id` is populated only for `booking_confirmed` source blocks. It is not a
        constrained foreign key so that it survives potential booking purges.

        `notes` is a free-text field allowing the manager to annotate a manual block.
      type: object
      properties:
        id: { type: string, format: uuid }
        property_id: { type: string, format: uuid }
        booking_id: { type: string, format: uuid, nullable: true }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        source:
          type: string
          enum: [manual, ical_airbnb, ical_booking, booking_confirmed]
        notes: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    # --- Availability ---
    Availability:
      description: |
        Representation of a property's availability for a given day, returned by `GET /availability`.

        This is not a database table: it is a computed view derived from `BlockedPeriod`
        and active `HoldSlot` records. Each day in the requested period is returned with its status.

        `source` is present only when `blocked: true`, indicating the origin of the block.
      type: object
      properties:
        date: { type: string, format: date }
        blocked: { type: boolean }
        source:
          type: string
          enum: [manual, ical_airbnb, ical_booking, booking_confirmed]
          nullable: true

    AvailabilityRange:
      description: |
        Date range to manually block or unblock on a property.

        `blocked: true` creates a `BlockedPeriod` with source `manual` over the range.
        `blocked: false` removes any `manual` source `BlockedPeriod` overlapping the range.
        Blocks originating from bookings or iCal feeds cannot be removed via this route.
      type: object
      required: [start_date, end_date, blocked]
      properties:
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        blocked: { type: boolean }
        notes: { type: string }

    PriceEstimate:
      description: |
        Estimated cost of a stay for a given property, calculated from active rates.

        This estimate is public and used by the widget to display the price before the client
        creates a booking.

        The calculation takes into account:
        - The applicable rate over the period (`base_amount`)
        - High-season surcharge if applicable
        - Degressive discount if stay duration triggers a `DiscountRule`
        - Deposit amount if the manager has configured split payment

        `deposit_amount` equals `total_amount` if no deposit is configured.
      type: object
      properties:
        check_in: { type: string, format: date }
        check_out: { type: string, format: date }
        nb_nights: { type: integer }
        base_amount: { type: number, format: decimal }
        discount_percentage: { type: number, format: decimal }
        total_amount: { type: number, format: decimal }
        deposit_amount: { type: number, format: decimal }

    # --- Hold Slot ---
    HoldSlot:
      description: |
        Temporary lock placed on a time slot during a client's payment tunnel.

        When a client selects dates in the widget, a `HoldSlot` is created to reserve the slot
        while they complete their payment. Its lifetime is 15 minutes.

        After expiry, the hold releases and the dates become available to other clients.
        A background job periodically purges expired holds.

        `stripe_payment_intent_id` is populated as soon as the Stripe `PaymentIntent` is created.
        It enables automatic refund triggering on the correct intent if a conflict is detected
        at webhook time.

        Only one active `HoldSlot` can exist per property and date range at any given time.
      type: object
      properties:
        id: { type: string, format: uuid }
        property_id: { type: string, format: uuid }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        stripe_payment_intent_id: { type: string, nullable: true }
        expires_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }

    HoldSlotCreate:
      description: |
        Data required to place a temporary lock on a time slot.
        The dates must be free of any `BlockedPeriod` and any active `HoldSlot`.
      type: object
      required: [start_date, end_date]
      properties:
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }

    # --- Client ---
    Client:
      description: |
        Traveller who has made at least one booking on the platform.

        The client is automatically created or retrieved when a booking is submitted through
        the widget, using email as the unique identifier.

        **No client account**: in this version, the client has no password-protected account.
        They are identified solely by their email. Client authentication (to view booking history)
        is a planned evolution not covered by this version.

        **Soft delete**: a non-null `deleted_at` indicates a deleted client (e.g. GDPR request).
        Their bookings are retained but `client_id` is set to `null` after permanent purge.
      type: object
      properties:
        id: { type: string, format: uuid }
        last_name: { type: string }
        first_name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        deleted_at: { type: string, format: date-time, nullable: true }

    # --- Booking ---
    Booking:
      description: |
        Booking of a property by a client.

        A booking is created in `pending` status when submitted from the widget. It transitions
        to `confirmed` after payment confirmation via the Stripe webhook, or manually by the manager.

        **Creation flow**: the client must first place a `HoldSlot` (`POST /hold-slots`), then submit
        the booking with the corresponding `hold_slot_id`. This mechanism ensures the slot is
        genuinely available at booking time.

        **Amounts**: `total_amount` is calculated at creation from the active rates. `deposit_amount`
        is the upfront amount due if the manager has configured split payment. These amounts are
        immutable after creation.

        **Traceability**: `source` indicates the booking origin (`direct`, `airbnb`, `booking`).
        `external_reference` holds the booking identifier on the external platform for iCal imports.

        **Integrity**: `property_id` and `client_id` are nullable. They are set to `null` only after
        permanent purge of the associated property or client, preserving historical records.
      type: object
      properties:
        id: { type: string, format: uuid }
        property_id: { type: string, format: uuid, nullable: true }
        client_id: { type: string, format: uuid, nullable: true }
        client: { $ref: '#/components/schemas/Client' }
        hold_slot_id: { type: string, format: uuid, nullable: true }
        check_in: { type: string, format: date }
        check_out: { type: string, format: date }
        nb_nights: { type: integer }
        nb_guests: { type: integer }
        total_amount: { type: number, format: decimal }
        deposit_amount: { type: number, format: decimal }
        balance_amount: { type: number, format: decimal }
        status:
          type: string
          enum: [pending, confirmed, cancelled, refunded]
        source:
          type: string
          enum: [direct, airbnb, booking]
        external_reference: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    BookingCreate:
      description: |
        Data required to create a booking from the widget.

        `hold_slot_id` is required and must correspond to an active (non-expired) `HoldSlot`
        on the property and requested dates. Without a valid hold, creation returns `409`.

        If no client exists with the provided email, one is created automatically.
        If a client with that email already exists, the booking is linked to them.
      type: object
      required: [property_id, hold_slot_id, check_in, check_out, nb_guests, client]
      properties:
        property_id: { type: string, format: uuid }
        hold_slot_id: { type: string, format: uuid }
        check_in: { type: string, format: date }
        check_out: { type: string, format: date }
        nb_guests: { type: integer }
        client:
          type: object
          required: [last_name, first_name, email]
          properties:
            last_name: { type: string }
            first_name: { type: string }
            email: { type: string, format: email }
            phone: { type: string }

    # --- Payment ---
    Payment:
      description: |
        Payment recorded for a booking, managed by Stripe.

        Résa stores no payment card data. PCI-DSS compliance is fully delegated to Stripe.
        `stripe_payment_intent_id` is the reference identifier on the Stripe side for accounting
        reconciliation.

        **Payment types**:
        - `deposit`: initial down payment, representing a fraction of `total_amount`
        - `balance`: remaining amount due after the deposit has been paid
        - `full`: full payment in a single transaction

        **Statuses**: a payment never reverts to `pending` once in a terminal status
        (`succeeded`, `failed`, `refunded`). On failure, a new `PaymentIntent` must be created.

        Payments are never deleted. On cancellation, the status transitions to `refunded`
        and the refund is triggered via the Stripe API.
      type: object
      properties:
        id: { type: string, format: uuid }
        booking_id: { type: string, format: uuid }
        stripe_payment_intent_id: { type: string }
        amount: { type: number, format: decimal }
        type:
          type: string
          enum: [deposit, balance, full]
        status:
          type: string
          enum: [pending, succeeded, failed, refunded]
        created_at: { type: string, format: date-time }

    PaymentIntentResponse:
      description: |
        Response to a Stripe `PaymentIntent` creation.

        `stripe_client_secret` must be passed to the frontend to initialise Stripe Elements
        and render the payment form. This secret is single-use and must not be logged.
      type: object
      properties:
        payment_id: { type: string, format: uuid }
        stripe_client_secret: { type: string }
        amount: { type: number, format: decimal }
        type:
          type: string
          enum: [deposit, balance, full]

    # --- Widget ---
    WidgetConfig:
      description: |
        Customisation configuration for the booking widget associated with a property.

        Each property can have at most one widget configuration. `custom_css` is the sole
        customisation mechanism: the manager writes CSS that overrides the widget's default styles.
        This approach provides full flexibility without maintaining a list of predefined properties.

        If no configuration exists for a property, the widget renders with its default style.
      type: object
      properties:
        id: { type: string, format: uuid }
        property_id: { type: string, format: uuid }
        language: { type: string }
        custom_css: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    WidgetConfigUpdate:
      description: |
        Data to create or replace the widget configuration. This route uses `PUT` (full replacement)
        rather than `PATCH`: the entire configuration is overwritten on each call.
      type: object
      properties:
        language: { type: string }
        custom_css: { type: string }

    WidgetSnippet:
      description: |
        HTML snippet ready to embed on the manager's showcase website.

        The snippet contains a `<script>` tag that loads the widget JS bundle from the CDN,
        with the `property_id` pre-filled as a `data-property` attribute. The manager simply
        copies and pastes this snippet into their WordPress, Jimdo or static HTML site.
      type: object
      properties:
        snippet: { type: string, description: "HTML snippet to embed on the listing website" }

    # --- iCal Sync ---
    ICalSync:
      description: |
        Configuration of an external iCal feed to synchronise with a property.

        Résa imports bookings from Airbnb and Booking via their iCal feeds (RFC 5545 format).
        Each imported event creates a `BlockedPeriod` with source `ical_airbnb` or `ical_booking`.

        **Automatic sync**: a cron job triggers synchronisation of all active feeds every hour.
        Manual synchronisation via `POST /trigger` is also available.

        `last_sync_status` indicates the result of the last synchronisation:
        - `success`: import completed without errors
        - `error`: the URL was unreachable or the iCal feed was malformed (detail in `error_message`)
        - `pending`: sync in progress or never triggered

        On repeated errors, a `warning`-level `EventLog` entry is created to alert the manager.
      type: object
      properties:
        id: { type: string, format: uuid }
        property_id: { type: string, format: uuid }
        ical_url: { type: string, format: uri }
        source:
          type: string
          enum: [airbnb, booking]
        last_sync_at: { type: string, format: date-time, nullable: true }
        last_sync_status:
          type: string
          enum: [success, error, pending]
          nullable: true
        error_message: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    ICalSyncCreate:
      description: |
        Data required to add an iCal feed. `ical_url` must point to a valid iCal feed (RFC 5545)
        exposed by Airbnb or Booking from the property settings on those platforms.
      type: object
      required: [ical_url, source]
      properties:
        ical_url: { type: string, format: uri }
        source:
          type: string
          enum: [airbnb, booking]

    # --- Event Log ---
    EventLog:
      description: |
        Entry in the platform audit log.

        `EventLog` is the central audit table for Résa. It records three types of events:
        - **User actions**: logins, profile updates, booking creations and cancellations
        - **Business events**: booking confirmed, payment received, iCal sync completed
        - **Technical errors**: Stripe webhook rejected, iCal feed unreachable, booking conflict detected

        **No foreign keys**: `actor_id` and `resource_id` are UUIDs with no FK constraint.
        This ensures logs survive the deletion or purge of any entity.

        **Polymorphic pattern**: `resource_type` indicates the nature of the concerned resource
        (`booking`, `property`, `payment`, `manager`, etc.), enabling filtering by resource type
        without a dedicated table per domain.

        `payload` is a free JSON object holding context useful for debugging: old and new values
        on updates, Stripe identifier, iCal error details, etc.

        Logs are accessible to admins only via `GET /events`.
      type: object
      properties:
        id: { type: string, format: uuid }
        category:
          type: string
          enum: [auth, booking, payment, property, sync, widget]
        event: { type: string }
        level:
          type: string
          enum: [info, warning, error]
        actor_id: { type: string, format: uuid, nullable: true }
        actor_type:
          type: string
          enum: [manager, system, webhook]
          nullable: true
        resource_id: { type: string, format: uuid, nullable: true }
        resource_type: { type: string, nullable: true }
        payload: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }

    # --- Errors ---
    Error:
      description: |
        Standard error response returned by the API.

        `code` is a machine-readable error identifier (e.g. `booking_conflict`, `hold_slot_expired`).
        `message` is a human-readable description intended for the developer.
      type: object
      properties:
        code: { type: string }
        message: { type: string }

    ValidationError:
      description: |
        Validation error response returned on `422 Unprocessable Entity`.

        `fields` lists the fields in error with an explicit message for each,
        allowing the frontend to display inline validation errors in the form.
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        fields:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              message: { type: string }

  responses:
    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Access denied — the resource exists but does not belong to the current manager
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ValidationError' }

# ─────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────
paths:

  # ── Auth ──────────────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Manager login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: JWT token or 2FA challenge
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TokenResponse'
                  - type: object
                    properties:
                      two_fa_required: { type: boolean }
                      two_fa_token: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/2fa/verify:
    post:
      tags: [Auth]
      summary: Verify 2FA code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TwoFARequest'
                - type: object
                  required: [two_fa_token]
                  properties:
                    two_fa_token: { type: string }
      responses:
        '200':
          description: Final JWT token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/2fa/setup:
    post:
      tags: [Auth]
      summary: Initialize 2FA — returns QR code
      responses:
        '200':
          description: TOTP secret and QR code
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: string }
                  qr_code_url: { type: string, format: uri }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/2fa/disable:
    post:
      tags: [Auth]
      summary: Disable 2FA
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TwoFARequest' }
      responses:
        '204':
          description: 2FA disabled
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout — revoke token
      responses:
        '204':
          description: Logged out
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Manager ───────────────────────────────
  /me:
    get:
      tags: [Manager]
      summary: Get current manager profile
      responses:
        '200':
          description: Manager profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Manager' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags: [Manager]
      summary: Update current manager profile
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ManagerUpdate' }
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Manager' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      tags: [Manager]
      summary: Delete account (soft delete)
      responses:
        '204':
          description: Account marked as deleted
        '401':
          $ref: '#/components/responses/Unauthorized'

  /me/roles:
    get:
      tags: [Manager]
      summary: List roles assigned to the current manager
      responses:
        '200':
          description: Assigned roles
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ManagerRole' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Roles ─────────────────────────────────
  /roles:
    get:
      tags: [Roles]
      summary: List all available roles
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Role' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Roles]
      summary: Create a role
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoleCreate' }
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /roles/{role_id}:
    parameters:
      - in: path
        name: role_id
        required: true
        schema: { type: string, format: uuid }

    patch:
      tags: [Roles]
      summary: Update a role
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoleUpdate' }
      responses:
        '200':
          description: Updated role
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Roles]
      summary: Delete a role
      responses:
        '204':
          description: Role deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Clients ───────────────────────────────
  /clients:
    get:
      tags: [Clients]
      summary: List clients
      parameters:
        - in: query
          name: search
          schema: { type: string }
          description: Filter by name or email
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Client' }
                  total: { type: integer }
                  page: { type: integer }
                  per_page: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /clients/{client_id}:
    parameters:
      - in: path
        name: client_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Clients]
      summary: Get client details
      responses:
        '200':
          description: Client
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Properties ────────────────────────────
  /properties:
    get:
      tags: [Properties]
      summary: List properties managed by the current manager
      parameters:
        - in: query
          name: active
          schema: { type: boolean }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Property' }
                  total: { type: integer }
                  page: { type: integer }
                  per_page: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Properties]
      summary: Create a property
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PropertyCreate' }
      responses:
        '201':
          description: Property created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Property' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /properties/{property_id}:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Properties]
      summary: Get property details
      responses:
        '200':
          description: Property
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Property' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Properties]
      summary: Update a property
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PropertyUpdate' }
      responses:
        '200':
          description: Updated property
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Property' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      tags: [Properties]
      summary: Delete a property (soft delete)
      responses:
        '204':
          description: Property marked as deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Photos ────────────────────────────────
  /properties/{property_id}/photos:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Photos]
      summary: List photos for a property
      responses:
        '200':
          description: Photos
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PropertyPhoto' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Photos]
      summary: Upload a photo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Photo uploaded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PhotoUploadResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /properties/{property_id}/photos/reorder:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    patch:
      tags: [Photos]
      summary: Reorder photos
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PhotoReorder' }
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PropertyPhoto' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /properties/{property_id}/photos/{photo_id}:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: photo_id
        required: true
        schema: { type: string, format: uuid }

    delete:
      tags: [Photos]
      summary: Delete a photo
      responses:
        '204':
          description: Photo deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Rates ─────────────────────────────────
  /properties/{property_id}/rates:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Rates]
      summary: List rates for a property
      responses:
        '200':
          description: Rates
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Rate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Rates]
      summary: Create a rate
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RateCreate' }
      responses:
        '201':
          description: Rate created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Rate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /properties/{property_id}/rates/{rate_id}:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: rate_id
        required: true
        schema: { type: string, format: uuid }

    patch:
      tags: [Rates]
      summary: Update a rate
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RateUpdate' }
      responses:
        '200':
          description: Updated rate
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Rate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Rates]
      summary: Delete a rate
      responses:
        '204':
          description: Rate deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Discount Rules ────────────────────────
  /properties/{property_id}/rates/{rate_id}/discount-rules:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: rate_id
        required: true
        schema: { type: string, format: uuid }

    post:
      tags: [Rates]
      summary: Add a discount rule to a rate
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DiscountRuleCreate' }
      responses:
        '201':
          description: Discount rule created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DiscountRule' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /properties/{property_id}/rates/{rate_id}/discount-rules/{rule_id}:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: rate_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: rule_id
        required: true
        schema: { type: string, format: uuid }

    delete:
      tags: [Rates]
      summary: Delete a discount rule
      responses:
        '204':
          description: Discount rule deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Availability ──────────────────────────
  /properties/{property_id}/availability:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Availability]
      summary: Get daily availability for a property over a date range
      parameters:
        - in: query
          name: start_date
          required: true
          schema: { type: string, format: date }
        - in: query
          name: end_date
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Daily availability
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Availability' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Availability]
      summary: Block or unblock a date range
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AvailabilityRange' }
      responses:
        '200':
          description: Updated availability
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Availability' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /properties/{property_id}/availability/estimate:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Availability]
      summary: Estimate price for a stay (public — used by the booking widget)
      security: []
      parameters:
        - in: query
          name: check_in
          required: true
          schema: { type: string, format: date }
        - in: query
          name: check_out
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Price estimate
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PriceEstimate' }
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # ── Hold Slots ────────────────────────────
  /properties/{property_id}/hold-slots:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    post:
      tags: [Availability]
      summary: Temporarily hold dates during checkout (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HoldSlotCreate' }
      responses:
        '201':
          description: Hold slot created — expires automatically
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HoldSlot' }
        '409':
          description: Dates not available
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /properties/{property_id}/hold-slots/{hold_slot_id}:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: hold_slot_id
        required: true
        schema: { type: string, format: uuid }

    delete:
      tags: [Availability]
      summary: Release a hold slot
      security: []
      responses:
        '204':
          description: Hold slot released
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Bookings ──────────────────────────────
  /bookings:
    get:
      tags: [Bookings]
      summary: List bookings for the current manager
      parameters:
        - in: query
          name: property_id
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, confirmed, cancelled, refunded]
        - in: query
          name: start_date
          schema: { type: string, format: date }
        - in: query
          name: end_date
          schema: { type: string, format: date }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Booking' }
                  total: { type: integer }
                  page: { type: integer }
                  per_page: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /bookings/public:
    post:
      tags: [Bookings]
      summary: Create a booking from the widget (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BookingCreate' }
      responses:
        '201':
          description: Booking created — payment must be initiated next
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '409':
          description: Dates not available
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /bookings/{booking_id}:
    parameters:
      - in: path
        name: booking_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Bookings]
      summary: Get booking details
      responses:
        '200':
          description: Booking
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Bookings]
      summary: Update booking status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [confirmed, cancelled]
      responses:
        '200':
          description: Updated booking
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Payments ──────────────────────────────
  /bookings/{booking_id}/payments:
    parameters:
      - in: path
        name: booking_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Payments]
      summary: List payments for a booking
      responses:
        '200':
          description: Payments
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Payment' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /bookings/{booking_id}/payments/intent:
    parameters:
      - in: path
        name: booking_id
        required: true
        schema: { type: string, format: uuid }

    post:
      tags: [Payments]
      summary: Create a Stripe Payment Intent (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  enum: [deposit, balance, full]
      responses:
        '201':
          description: Stripe client secret returned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntentResponse' }
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Payment already completed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /payments/webhook:
    post:
      tags: [Payments]
      summary: Stripe webhook — payment confirmation
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid Stripe signature

  # ── Widget ────────────────────────────────
  /properties/{property_id}/widget:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Widget]
      summary: Get widget configuration
      responses:
        '200':
          description: Widget configuration
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WidgetConfig' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Widget]
      summary: Create or replace widget configuration
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WidgetConfigUpdate' }
      responses:
        '200':
          description: Updated configuration
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WidgetConfig' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /properties/{property_id}/widget/snippet:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Widget]
      summary: Generate the HTML embed snippet
      responses:
        '200':
          description: HTML snippet
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WidgetSnippet' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── iCal Sync ─────────────────────────────
  /properties/{property_id}/ical-syncs:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Sync]
      summary: List iCal syncs for a property
      responses:
        '200':
          description: iCal syncs
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ICalSync' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Sync]
      summary: Add an iCal feed
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ICalSyncCreate' }
      responses:
        '201':
          description: iCal feed added
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ICalSync' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /properties/{property_id}/ical-syncs/{sync_id}:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: sync_id
        required: true
        schema: { type: string, format: uuid }

    delete:
      tags: [Sync]
      summary: Remove an iCal feed
      responses:
        '204':
          description: iCal feed removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /properties/{property_id}/ical-syncs/{sync_id}/trigger:
    parameters:
      - in: path
        name: property_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: sync_id
        required: true
        schema: { type: string, format: uuid }

    post:
      tags: [Sync]
      summary: Manually trigger an iCal sync
      responses:
        '200':
          description: Sync triggered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ICalSync' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Event Log ─────────────────────────────
  /events:
    get:
      tags: [Events]
      summary: List audit log events
      parameters:
        - in: query
          name: category
          schema:
            type: string
            enum: [auth, booking, payment, property, sync, widget]
        - in: query
          name: level
          schema:
            type: string
            enum: [info, warning, error]
        - in: query
          name: resource_id
          schema: { type: string, format: uuid }
        - in: query
          name: start_date
          schema: { type: string, format: date-time }
        - in: query
          name: end_date
          schema: { type: string, format: date-time }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/EventLog' }
                  total: { type: integer }
                  page: { type: integer }
                  per_page: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ── Managers (admin) ──────────────────────
  /managers:
    get:
      tags: [Managers]
      summary: List all managers
      parameters:
        - in: query
          name: search
          schema: { type: string }
          description: Filter by name or email
        - in: query
          name: deleted
          schema: { type: boolean }
          description: Include soft-deleted managers
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of managers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Manager' }
                  total: { type: integer }
                  page: { type: integer }
                  per_page: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [Managers]
      summary: Create a manager account
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ManagerCreate' }
      responses:
        '201':
          description: Manager created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Manager' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /managers/{manager_id}:
    parameters:
      - in: path
        name: manager_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Managers]
      summary: Get any manager's details
      responses:
        '200':
          description: Manager
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Manager' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Managers]
      summary: Update any manager's account
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ManagerAdminUpdate' }
      responses:
        '200':
          description: Updated manager
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Manager' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      tags: [Managers]
      summary: Delete a manager account (soft delete)
      responses:
        '204':
          description: Manager marked as deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /managers/{manager_id}/restore:
    parameters:
      - in: path
        name: manager_id
        required: true
        schema: { type: string, format: uuid }

    post:
      tags: [Managers]
      summary: Restore a soft-deleted manager
      responses:
        '200':
          description: Manager restored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Manager' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /managers/{manager_id}/roles:
    parameters:
      - in: path
        name: manager_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Managers]
      summary: List roles assigned to a manager
      responses:
        '200':
          description: Assigned roles
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ManagerRole' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Managers]
      summary: Assign a role to a manager
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role_id]
              properties:
                role_id: { type: string, format: uuid }
      responses:
        '201':
          description: Role assigned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ManagerRole' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Role already assigned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /managers/{manager_id}/roles/{role_id}:
    parameters:
      - in: path
        name: manager_id
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: role_id
        required: true
        schema: { type: string, format: uuid }

    delete:
      tags: [Managers]
      summary: Remove a role from a manager
      responses:
        '204':
          description: Role removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /managers/{manager_id}/2fa/reset:
    parameters:
      - in: path
        name: manager_id
        required: true
        schema: { type: string, format: uuid }

    post:
      tags: [Managers]
      summary: Reset 2FA for a manager
      description: Disables 2FA without requiring the current TOTP code. Used when a manager has lost access to their authenticator app.
      responses:
        '204':
          description: 2FA reset — manager must re-enroll on next login
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /managers/{manager_id}/properties:
    parameters:
      - in: path
        name: manager_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Managers]
      summary: List properties belonging to a manager
      parameters:
        - in: query
          name: active
          schema: { type: boolean }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Property' }
                  total: { type: integer }
                  page: { type: integer }
                  per_page: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /managers/{manager_id}/bookings:
    parameters:
      - in: path
        name: manager_id
        required: true
        schema: { type: string, format: uuid }

    get:
      tags: [Managers]
      summary: List bookings belonging to a manager
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, confirmed, cancelled, refunded]
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: per_page
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: List of bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Booking' }
                  total: { type: integer }
                  page: { type: integer }
                  per_page: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
